@import 'tailwindcss';

:root {
    --background: #4d6b32;
    --foreground: #000000;
}

@theme inline {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #4d6b32;
        --foreground: #000000;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
